* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(189, 184, 184);
    margin-bottom: 2vh;
}

header div {
    display: flex;
    justify-content: center;
}

header li {
    list-style: none;
    margin: 2vw;
    font-size: 1.3rem;
    color: red;
}

a {
    color: red;
}

h1 {
    text-align: center;
}

#table1 {
    border-bottom: 1px solid black;
}